/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label-font {
  font-size: .9em;
  font-weight: normal;
  color: #2E2E2E;
}


.header{
    margin-left: 10px;
    margin-right: 10px;
    //margin-bottom: 3px;
    background-color: #FFF5D2;
    border-bottom:1px solid #AEA77D; 
}


.header-background-image-backup{
	background-image: url(images/headerLogo.gif), 
	                  url(images/header_bg.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_curve_login.gif),
	                  url(images/help.gif);
	background-repeat: no-repeat,repeat-x, no-repeat, no-repeat,no-repeat,no-repeat,repeat-x;   
    background-position: 0 0,25% top,left bottom,25% bottom,36% bottom,75% bottom,86% bottom;   
}



.header-right{
	padding-right: 1.5em;
  }
	
.label-padding-left{
	 padding-left: 6px;
	}
	
.label-padding-right{
	 padding-right: 6px;
	}

.label-padding-top{
	 padding-right: 6px;
	}
	
	.label-padding-bottom{
	 padding-right: 6px;
	}

.seperator {
    color: #FE9A2E;
    font-size: 1em;
    font-weight: normal;
    
}

 .search-panel{
	padding-left: 1.5em;
	padding-top: 1.8em;
	width: 100%;
 }
 
 
 .search-box{
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
 }
 
  .search-text-box{
    border: 2px solid #FF8000;
     width: 97%;
     height: 3.5em;
     overflow: hidden;
     resize:none;
 }
 
 select {
	border: none;
}
 
 .search-button{
    padding-left: 2px;
 }
 
 .header-font{
  font-size: 3em;
  font-weight: bold;
  color: #2E2E2E;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
}


.question-font{
  font-size: 1.3em;
  font-weight: 100;
  font-style:italic;
  color: #2E2E2E;
  text-align: left;
  text-shadow: 0px 2px 3px #666;
}

.ask-button{
  background-image: url(images/Ask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  height: 52px;
  width: 123px;
  white-space: nowrap;
 }
 
 .button-font{
  font-size: 1.5em;
  font-weight:bold;
  color: #2E2E2E;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
 }
 
.how-did-panel{
	width : auto;
	text-align: center;
	}
	
.how-did{
	background-image: url(images/line-rang.gif);
	background-repeat:no-repeat;
	background-position : 0 0;
	height: 5em;
	}
	
.query-font{
  font-size: 1em;
  font-weight: 100;
  color: #2E2E2E;
  text-align: left;
  text-shadow: 0px 1px 1px #666;
}

.message-font{
  font-size: 1.2em;
  font-weight: 100;
  color: #2E2E2E;
  text-align: left;
  text-shadow: 0px 1px 1px #666;
}

.result-panel{
	padding : 20px;
	margin-left :25px;
	margin-top : 10px;
	//border:  1px solid red;
	width : 96%;
    height: 97%;
	//background-color: gray;
	}
.gwt-Image{
	width: 96%;
	height:97%;
	margin-left :25px;
	margin-top : 10px;
	}
	

	
.result-panel-background{
	background-image: url(images/result-background.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	}
	
.gwt-TabPanelBottom{
	//width: 100%;
	height: 100%;
	}
	
.gwt-TabPanel{
	width:100%;
	height: 95%;
}


.gwt-TabBar .gwt-TabBarItem {
    background-image: url(images/non-active.gif);
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
 }

 .gwt-TabBar .gwt-TabBarItem-selected {
    background-image: url(images/active.gif) ;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
 }
 
.side-panel{
    border: 1px solid black;	
	
	}

.footer{
	border-top:  1px solid #AEA77D;
	margin-left: 10px;
    margin-right: 10px;
}

.body-layout{
 background-color: #DBE6F0;
 //border: 5px solid red;
 margin-left: 10px;
 margin-right: 10px;
}
