/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.header-background-image{
	background-image: url(images/headerLogo.gif), 
	                  url(images/header_bg.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_bg_first.gif),
	                  url(images/mainmenu_curve_login.gif),
	                  url(images/help.gif);
	background-repeat: no-repeat,repeat-x, no-repeat, no-repeat,no-repeat,no-repeat,repeat-x;   
    background-position: 0 0,25% top,left bottom,25% bottom,36% bottom,75% bottom,86% bottom;   
}

.header-right{
	padding-right: 1.5em;
  }
	
.label-padding-left{
	 padding-left: 6px;
	}
	
.label-padding-right{
	 padding-right: 6px;
	}

.label-font {
  font-size: .9em;
  font-weight: normal;
  color: #2E2E2E;
}

.seperator {
    color: #FE9A2E;
    font-size: 1em;
    font-weight: normal;
    
}

.search-box{
	background-image: url(images/question-box.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 5px;
    padding-top: 4px;
 }
 
 .search-text-box{
    border: none;
    padding: 2px;
 }
 
 .search-panel{
	padding-left: 1.5em;
	padding-top: 1em;
 }
 
 .search-button{
	background-image: url(images/QuestionMark-active.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 2px;
 }

 

.body-layout{
 background-color: aqua;
 //border: 5px solid red;
 margin-left: 10px;
 margin-right: 10px;
}